.sidebarOption {
    display: flex;
    align-items: center;
    color: #808080;
    height: 40px;
    cursor: pointer;
    transition: 250ms color ease-in;
}

.sidebarOption:hover {
    color: #ffffff;
}

.sidebarOption__icon {
    padding-left: 10px;
    width: 90%;
}

.sidebarOption>p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}